.i18n-ar .navbar-header{
    float: right;
}
.i18n-ar #navbar-collapse ul{
    float: right;
}
.i18n-ar #navbar-collapse ul li{
    float: right;
}
.i18n-ar #block-locale-language{
    float: left;
}
.i18n-ar .language-switcher-locale-url li{
    padding-left: 5px;
}
