/**
 * This file will be overwritten when the Bootstrap Framework source files
 * are compiled using the Less CSS pre-processor.
 */
 /* ================================================= */
/* =====================Header======================= */
#navbar{
    border: none;
    background-color: #0b9e16;
    border-radius: 0;
    margin: 0;
    height: 100px;
}
#navbar ul li .active{
    color: greenyellow !important;
    background-color: inherit;
}
#navbar ul li a:hover{
    color: greenyellow !important;    
}
a{
  text-decoration: none !important;
}
#navbar .container-fluid{
    padding-top: 20px;
}
#navbar-collapse{
    padding-top: 10px;
}
#navbar .container-fluid .navbar-header .name,
#navbar .container-fluid  #navbar-collapse ul li a{
    color: white;
    font-size: 15px;
    font-weight: bold;
}
#navbar .container-fluid  #navbar-collapse ul li a:hover{
  color: black;
}
#block-locale-language{
    float: right;
}
#block-locale-language .block-title{
    display: none;
}
#block-locale-language .language-switcher-locale-url{
    list-style-type: none;
}
#block-locale-language .language-switcher-locale-url .active{
    color: mediumblue;
}
#block-locale-language .language-switcher-locale-url .active a{
    pointer-events: none;
    cursor: default;
}
#block-locale-language .language-switcher-locale-url li{
    display: inline-block;
    padding-top: 15px;
    padding-right: 2px;
}
#block-locale-language .language-switcher-locale-url li a{
    text-decoration: none;
    color: #777;    
}
.carousel-inner img{
    width: 100%;
    height: 450px;
}
.main-container{
    padding: 0 !important;
    overflow: hidden;
}
.carousel-caption{
    bottom: 13% !important;
}
.carousel-caption .field-content a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

/* ================================================= */
/* ===================Section Icons================= */
#block-views-sections-icons-block{
    padding: 6%;
}
#block-views-sections-icons-block .views-row{
    display: inline-block;
    width: 33%;
}
#block-views-sections-icons-block .views-field-field-section-icon img{
    margin: auto;
    border-radius: 50%;
    border: 5px solid;
    padding: 20px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .7s ease-in-out;
	transition: .7s ease-in-out;
}
#block-views-sections-icons-block .views-field-field-section-icon:hover img{
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}
#block-views-sections-icons-block .views-field-name{
    text-align: center;
    padding: 10px;    
}
#block-views-sections-icons-block .views-field-name span{
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
}
#block-views-sections-icons-block .views-row-1 img,
#block-views-sections-icons-block .views-row-1 .views-field-name{
    border-color: #FFD700;
}
#block-views-sections-icons-block .views-row-2 img,
#block-views-sections-icons-block .views-row-2 .views-field-name{
    color: #006097;
    
}
#block-views-sections-icons-block .views-row-3 img,
#block-views-sections-icons-block .views-row-3 .views-field-name{
    color: #69B92E;
    
}
.view-solar-energy-page .views-field-title{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    font-family: cursive;
}
.view-solar-energy-page .views-field-body{
    text-align: center;
    font-size: 16px;
    padding: 10px 14%;
    font-family: cursive;
}
#block-views-latest-news-block .view-id-latest_news .view-content{
    text-align: center;
}
/* ================================================= */
/* ================Who We Are Section=============== */
#block-views-who-we-are-block{
    background: url(../images/who-we.jpg) center no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: 100%;
    background-position: 50% -81px;
    opacity: 0.9;
}
#block-views-who-we-are-block .views-field-title{
    text-align: center;
}
#block-views-who-we-are-block .views-field-title span a{
    color: white;
    font-size: 40px;
}
#block-views-who-we-are-block .field-content p{
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 0px 15%;
}


 /* ================================================= */
/* =====================Footer======================= */

/* HTML Set up */
footer {
    background: #0b9e16;
    color: #fff;
    margin: 0;
    font-family: cursive;
    padding: 15px 0 0 0 !important;
  }
  footer .centered {
    max-width: 1200px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
  }
  footer .centered .footer-logo {
    width: 20%;
  }
  footer .centered .footer-logo img.logo {
    padding: 30px 20px 10px 20px;
    max-width: 100%;
  }
  footer .centered .footer-contact {
    width: 30%;
    padding-bottom: 5px;
  }
  footer .centered .footer-navigation {
    /* width: 60%; */
  }
  footer .centered .footer-navigation .footer-links-holder {
    /* width: 33.33333%; */
    position: relative;
    float: left;
    margin: 0;
  }
  footer .centered .footer-navigation .footer-links-holder .footer-links {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-transition: max-height .5s;
    transition: max-height .5s;
  }
  footer .bottom-bar {
    position: relative;
    text-align: center;
    font-size: .8em;
    text-transform: uppercase;
    background: #000;
    padding: 15px 0;
  }
  
  /* Responsive Tablet Sizes */
  @media only screen and (max-width: 749px) {
    footer .centered {
      flex-wrap: wrap;
    }
    footer .centered .footer-logo {
      max-width: 250px;
      width: 50%;
    }
    footer .centered .footer-contact {
      width: 50%;
      padding: 0 20px;
    }
    footer .centered .footer-navigation {
      width: 100%;
    }
    footer .centered .footer-navigation .footer-links-holder {
      padding: 0 20px;
    }
  }
  /* Responsive Mobile Sizes */
  @media only screen and (max-width: 500px) {
    footer .centered .footer-logo {
      width: 100%;
      margin: 0 auto;
    }
    footer .centered .footer-contact {
      width: 100%;
    }
    footer .centered .footer-navigation .footer-links-holder {
      width: 100%;
      padding: 0;
    }
    footer .centered .footer-navigation .footer-links-holder h3 {
      margin: 0;
      padding: 10px 20px;
      border-top: #000 1px solid;
      cursor: pointer;
      /* Down Arrows */
    }
    footer .centered .footer-navigation .footer-links-holder h3::after {
      margin-right: 10px;
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-top: 7px;
      width: 7px;
      height: 7px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      -webkit-transition: transform .5s;
      transition: transform .5s;
    }
    footer .centered .footer-navigation .footer-links-holder .footer-links {
      max-height: 0;
      overflow: hidden;
      padding: 0 20px;
    }
    footer .centered .footer-navigation .footer-links-holder.active h3::after {
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    footer .centered .footer-navigation .footer-links-holder.active .footer-links {
      max-height: 10000px;
    }
  }
  /* Social Icons */
  .social {
    text-align: center;
  }
  .social a {
    display: inline-block;
    padding: 7px;
    width: 35px;
    height: 35px;
    margin: 0 2px;
    background: #fff;
    border-radius: 50%;
    vertical-align: middle;
  }
  .social a:hover {
    background: #65c2ed;
  }
  .social a.linkedin {
    padding: 4px;
  }
  .social a svg .face, .social a svg .twit, .social a svg .link {
    fill: #000;
  }
  
  /* Typography */
  footer h3 {
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 0;
  }
  footer p, footer li {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 10px 0;
  }
  footer a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: color .5s, background .5s;
    transition: color .5s, background .5s;
  }
  footer a:hover {
    color: #65c2ed;
  }
  

 /* ================================================= */
/* =====================Slick Slider======================= */

  /* Misc CSS */
  .clearfix:before, .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
  }
  /* Slider */
  
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
      border: 1px solid #0b9e16;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }
  .partners h2{
      text-align: center;
      font-size: 40px;
      padding: 30px;
  }
  .partners img{
      height: 150px;
  }


 /* ================================================= */
/* ===================Latest News==================== */

#block-views-latest-news-block .views-row{
    position: relative;
    display: inline-block;
    width: 24%;
}
#block-views-latest-news-block  .views-field-field-main-image img{
    width: 100%;
    border: 1px solid #0b9e16;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
#block-views-latest-news-block .views-field-title{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
#block-views-latest-news-block .views-row:hover img {
    opacity: 0.5;
}
#block-views-latest-news-block .views-row:hover .views-field-title {
    opacity: 1;
}

#block-views-latest-news-block .views-row .views-field-title span {
    background-color: #69B92E;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    display: block;
  }

#block-views-latest-news-block .block-title{
    text-align: center;
    padding: 20px;
    font-size: 45px;
}
#hoverNav #prevLink,
#hoverNav #nextLink{
   position: absolute;
   top: 30%;
}
.view-solar-energy-page .views-field-field-gallary {
    text-align: center;
    padding-top: 30px;
}
.view-solar-energy-page .views-field-field-gallary a{
    display: inline-block;
    width: 20%;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}
.view-solar-energy-page .views-field-field-gallary a img{
    width: 100%;
    height: 196px;
    border: 1px solid greenyellow;
    border-radius: 5px;
}  
  .view-solar-energy-page .views-field-field-gallary a:hover {
    -webkit-transform: rotate(-10deg);
       -moz-transform: rotate(-10deg);
         -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

   /* ================================================= */
/* ===================Contact Us PAge================== */

.page-node-1 .field-type-text-with-summary {
    text-align: center;
    padding-top: 50px;
}
.page-node-1 p{
    font-size: 14px;
    font-family: cursive;
    font-weight: bold;
}
.page-node-1 .page-header{
    display: none;
}

/* hide language switcher */
/* .language-switcher-locale-url{
    display: none;
} */
.slick-list .slick-track{
    height: 180px;
}



   /* ================================================= */
/* ===================Media Query================== */
@media only screen and (max-width: 768PX) {
    .main-container{
        width: 100%;
    }
    #navbar #navbar-collapse{
        position: relative !important;
        z-index: 1 !important;
        background-color: rgb(27, 27, 75) !important;
    }
    #navbar .in li a{
        padding-left: 15px;
    }
    #navbar #navbar-collapse li a:hover{
        background-color: #69B92E;
        color: white !important;
    }   
    .container-fluid .navbar-header{
        position: relative;
        z-index: 2;
    } 
    .container-fluid .navbar-header a img{
        padding: 5px;
    }
    .navbar-nav .leaf a{
        font-size: 10px !important;
        padding: 25px 5px;
    }
    #block-views-sections-icons-block .views-row{
        width: 100% ;
        padding: 10px;
    }
    #block-views-who-we-are-block{
        background-size: auto;
    }
    #block-views-who-we-are-block .block-title{
        font-size: 40px;
    }
    #block-views-who-we-are-block .field-content p{
        padding: 0 15px;
    }
    .view-solar-energy-page .views-field-field-gallary a img{
        height: 100px;
    }    
    .partners img{
        height: 50px;
    }
}

#block-views-partners-companies-logos-block .block-title{
    text-align: center;
    padding: 20px;
    font-size: 45px;
}
.view-field-collection-page .views-row p{
    text-align: center;
    padding: 1% 5%;
    font-size: 18px;
    font-family: cursive;
}
.page-node-1 #block-system-main,
.page-node-33 #block-system-main{
    text-align: center;
}
.page-node-1 #block-system-main article footer,
.page-node-33 #block-system-main article footer{
    display: none;
}
.page-node-1 .page-header,
.page-node-33 .page-header{
 display: none;
}
.page-node-33 .field-name-body{
    padding-top: 50px;
}
.view-display-id-page_2 .views-field-field-description  .field-content { 
    padding: 15px;
}
.i18n-ar .view-display-id-page_2 .views-field-field-description  .field-content p {
    text-align: right;
    padding-left: 0;
    padding-right: 10PX;
    width: 45%;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.i18n-en .view-display-id-page_2 .views-field-field-description  .field-content p {
    text-align: left;
    padding-left: 10px;
    padding-right: 0;
    width: 45%;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.view-display-id-page_2 .views-field-field-description  .field-content p:hover{
    background-color: #ddd;
}
